@model Material

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AmmoAddedGold" class="control-label"></label>
    <input asp-for="AmmoAddedGold" class="form-control" />
    <span asp-validation-for="AmmoAddedGold" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LightAddedGold" class="control-label"></label>
    <input asp-for="LightAddedGold" class="form-control" />
    <span asp-validation-for="LightAddedGold" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MediumAddedGold" class="control-label"></label>
    <input asp-for="MediumAddedGold" class="form-control" />
    <span asp-validation-for="MediumAddedGold" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="HeavyAddedGold" class="control-label"></label>
    <input asp-for="HeavyAddedGold" class="form-control" />
    <span asp-validation-for="HeavyAddedGold" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ShieldAddedGold" class="control-label"></label>
    <input asp-for="ShieldAddedGold" class="form-control" />
    <span asp-validation-for="ShieldAddedGold" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WeaponAddedGold" class="control-label"></label>
    <input asp-for="WeaponAddedGold" class="form-control" />
    <span asp-validation-for="WeaponAddedGold" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WeightGoldMultiplier" class="control-label"></label>
    <input asp-for="WeightGoldMultiplier" class="form-control" />
    <span asp-validation-for="WeightGoldMultiplier" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BaseGoldMultiplier" class="control-label"></label>
    <input asp-for="BaseGoldMultiplier" class="form-control" />
    <span asp-validation-for="BaseGoldMultiplier" class="text-danger"></span>
</div>