@model ArmorAddon

<div class="form-group">
    <label asp-for="ArmorAddonType" class="control-label"></label>
    <select asp-for="ArmorAddonTypeID" class="form-control" asp-items="ViewBag.ArmorAddonTypeID"></select>
    <span asp-validation-for="ArmorAddonTypeID" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Material" class="control-label"></label>
    <select asp-for="MaterialID" class="form-control" asp-items="ViewBag.MaterialID"></select>
    <span asp-validation-for="MaterialID" class="text-danger"></span>
</div>
