@model PathfinderTracker.Models.DamageType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Damage Type</h4>
    <hr />
    <partial name="Parts/_Details" />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
