@{
    ViewData["Title"] = "Home Page";
}

@if(CurrentVariables.CurrentCampaignID > 0) {
    <div class="text-center">
        <h1 class="display-4">Welcome to @CurrentVariables.CurrentCampaign.Name</h1>

        <p>You have selected the @CurrentVariables.CurrentCampaign.Name Campaign. Please navigate to the other pages to view Campaign specific details<p>
    </div>
}
else {
    <div class="text-center">
        <h1 class="display-4">Welcome to Pathfinder Tracker</h1>
        <p>Pathfinder Tracker keeps track of my Pathfinder campaigns, as well as the campaign's NPCs and Players. The website also keeps track of some information on rules. This website is built for personal use but the source code is available <a href="https://github.com/Jason-Durfee/PathfinderTracker.git">here</a><p>

        <p>This website is not made by Paizo, it is not an official website. The website was just made to make Game Mastering my own campaigns easier.</p>

        <p>Navigate to the Campaign section on the navigation bar at the top to select a campaign to load</p>
    </div>
}
