@model Spell

<div class="form-group">
    <label asp-for="MagicSchoolID" class="control-label"></label>
    <select asp-for="MagicSchoolID" class="form-control" asp-items="ViewBag.MagicSchoolID"></select>
    <span asp-validation-for="MagicSchoolID" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CastingTime" class="control-label"></label>
    <input asp-for="CastingTime" class="form-control" />
    <span asp-validation-for="CastingTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="RangeDistance" class="control-label"></label>
    <input asp-for="RangeDistance" class="form-control" />
    <span asp-validation-for="RangeDistance" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Target" class="control-label"></label>
    <input asp-for="Target" class="form-control" />
    <span asp-validation-for="Target" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Duration" class="control-label"></label>
    <input asp-for="Duration" class="form-control" />
    <span asp-validation-for="Duration" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SavingThrow" class="control-label"></label>
    <input asp-for="SavingThrow" class="form-control" />
    <span asp-validation-for="SavingThrow" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SpellResistance" class="control-label"></label>
    <input asp-for="SpellResistance" class="form-control" />
    <span asp-validation-for="SpellResistance" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>